<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" href="index.html"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" href="index.html"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-01.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
							<div class="carousel-caption edufair-caption edufair-single-caption">
								<div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
									<h2 class="fadeInLeft">Como Comprar</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
										<li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
										<li class="breadcrumb-item active"><a href="#">Como Comprar</a></li>
									</ol>										
								</div>
							</div>				  
						</div>
					</div>
				</div>
		
			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">

						<div class="col-md-8 sticky-body">
							<div class="row">				
					
								<div class="col-md-12">
									<h2 class="edufair-main-title">Sigue estos Pasos</h2>
									<img src="assets/images/como-comprar.jpg" class="img-fluid"><br><br>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">1. REGISTRATE?</h4>
										<p>
											• Ingresa tus datos, si eres persona natural o jurídica, completa el formulario de Tcompra según corresponda.<br>
											• Debes ser veraz con la información brindada. Tcompra te asegura la privacidad de tus datos.<br>
											• Una vez registrado tendrás un correo de confirmación de tu cuanta que llegara a tu correo.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">2. CREA TU REQUERIMIENTO</h4>
										<p>
											• Ingresa a tu panel de usuario y elige la opción COMPRAR.<br>
											• Elige una de las opciones y crea tu requerimiento ya sean bienes, servicios, recursos humanos. Completa todos los espacios para poder finalizar con la creación de tu requerimiento.<br>
											• Brinda todas las características e información necesaria sobre lo que requieres.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">3. PUBLICA TU REQUERIMIENTO</h4>
										<p>
											• Si observas tu panel de compras aparen todos los requerimientos que creaste, así como el estado en el que se encuentra.<br>
											• Ten en cuenta que cuando esta creado puedes editarlo o anularlo antes de ser publicado.<br>
											• Una vez que publicaste tu requerimiento es visible para todos los posibles ofertantes y no puedes modificarlo.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">4. RECEPCIONA OFERTAS A TU REQUERIMIENTO</h4>
										<p>
											• A tu panel llegara OFERTAS de varios proveedores, también podrás comunicarte con ellos por medio del chat para aclarar algunas dudas.<br>
											• Tiene un panel donde puedes ver todas tus estadísticas.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">5. CUADROS COMPARATIVOS</h4>
										<p>
											Puedes comparar ofertas de tus proveedores antes de decidir tu compra.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">6. ORDEN DE COMPRA</h4>
										<p>
											Llegará la orden de compra tanto al comprador y proveedor.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">7. CALIFICA A TU PROVEEDOR</h4>
										<p>
											• Una vez culminada la venta debes evaluar a tu proveedor, para así dejar alguna referencia sobre él.<br>
											 • Tu proveedor también evaluar cumplimiento de pagos y otros.
										</p>
									</div>
								</div>
			
							</div>
						</div>
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h2>App</h2>
			
								<img src="assets/images/app.jpg" class="img-fluid">
							</div>
			
							<div class="latest-post-right-sidebar">
								<h3>Como?</h3>
			
								<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
										<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
										<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
										<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
									</div>
								</div>

							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
			
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
									<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
							</div>
						</div>

					</div>
				</div>
			</div>
			

			<div class="margin-bottom-large"></div>
			
			
			
		</div>
