<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<!--<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div>-->
									<app-login></app-login>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-06.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
							<div class="carousel-caption edufair-caption edufair-single-caption">
								<div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
									<h2 class="fadeInLeft">Como Vender</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
										<li class="breadcrumb-item active"><a routerLink="/como-vender" routerLinkActive="active">Como Vender</a></li>
									</ol>										
								</div>
							</div>				  
						</div>
					</div>
				</div>
		
			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">

						<div class="col-md-8 sticky-body">
							<div class="row">				
			
								<div class="col-md-12">
									<h2 class="edufair-main-title">Sigue estos Pasos</h2>
									<img src="assets/images/como-vender.jpg" class="img-fluid"><br><br>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">1. REGISTRATE?</h4>
										<p>
											• Ingresa tus datos , ya seas persona jurídica o natural.<br>
											• Estos datos deben ser reales y veraces.<br>
											• A tu correo llegara la confirmación de la activación de tu cuenta con la cual podrás iniciar las ofertas a requerimientos.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">2. BUSCA REQUERIMIENTO</h4>
										<p>
											En tu panel de usuario puedes acceder a la pestaña VENDER, donde tendrás un buscador que por medio de filtros te ayudara a la encontrar y poder ofertar a requerimientos de tu interés.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">3. POSTULA AL REQUERIMIENTO QUE ELEGISTE</h4>
										<p>
											• Puedes comunicarte con tu cliente por medio de chat y aclara algunas dudas si las tuvieras sobre el requerimiento.<br>
											• Puedes enviarle tu OFERTA además de adjuntar un documento o imágenes para mejorar tu oferta.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">4. ORDEN DE COMPRA</h4>
										<p>
											• Si tu oferta es aceptada te llegara un mensaje de confirmación de tu orden de compra fue elegida.<br>
											• Debes cumplir con toda la información, plazos, garantías y otros que le diste a tus clientes.<br>
											• Si no cumplieras con las condiciones de dicha compra tu cliente podrá iniciar un reclamo y Tcompra tomara medidas en contra de tu cuenta, pudiendo así suspender por determiando tiempo tu cuenta además que recibirás mala calificación como proveedor en tu perfil.
										</p>
									</div>
									<div class="promotion-box">
										<h4 style="font-size: 18px;">5. CALIFICA A TU COMPRADOR</h4>
										<p>
											• Califica a tu cliente, si cumplió con el pago, el trato y otras formas.<br>
											Tu cliente también evaluará tu desempeño.
										</p>
									</div>
								</div>
			
							</div>
						</div>
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h2>App</h2>
			
								<img src="assets/images/app.jpg" class="img-fluid">
							</div>
			
							<div class="latest-post-right-sidebar">
								<h3>Como?</h3>
			
								<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
										<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
										<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
										<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
									</div>
								</div>

							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
			
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
									<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="margin-bottom-large"></div>
			
				
			
		</div>