    <div id="fakeloader"></div>
    
    <div class="edufair-container">
        
        <div class="edufair-header edufair-course-header">	
            <nav class="navbar navbar-expand-lg edufair-nav">
                <div class="container">	
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
                                <span class="sr-only">Toggle navigation</span>				
                                <i class="fas fa-align-right fa-2"></i>
                            </button>
                            <a class="navbar-brand edufair-brand edufair-light" href="/"><img src="assets/images/logo-white.svg" alt="Logo"></a>
                            <a class="navbar-brand edufair-brand edufair-dark" href="/"><img src="assets/images/logo-black.svg" alt="Logo"></a>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            
                            <div class="edufair-cart">
                                <div class="box">
                                    <a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
                                    <a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </nav>

            <div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner edufair-inner single-inner" role="listbox">
                    <div class="edufair-overlay">
                        <img src="assets/images/online-course/online-course-07.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
                        <div class="carousel-caption edufair-caption edufair-single-caption">
                            <div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
                                <h2 class="fadeInLeft">Preguntas Frecuentes</h2>
                                <ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active"><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                                </ol>										
                            </div>
                        </div>				  
                    </div>
                </div>
            </div>
    
        </div>

        <div class="edufair-blog-1x">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 sticky-body">
                        <div class="row">				
        
                            <div class="col-md-12">
                                <h2 class="edufair-main-title">Preguntas Frecuentes</h2>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿Qué es TCOMPRA?</h4>
                                    <p>Es una plataforma gratuita donde puedes requerir u ofrecer bienes y servicios de todo tipo que se encuentran debidamente categorizados al por mayor y menor, facilitando a los Usuarios optimizar y controlar sus procesos logísticos.</p>
                                </div>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿TCOMPRA es gratuito?</h4>
                                    <p>Sí, una vez registrado Tcompra te brinda un servicio básico gratuito en el que se puede demandar y ofertar. Asimismo, Tcompra propone mejores beneficios a sus Usuarios mediante los servicios pagados Premium y Super Premium.</p>
                                </div>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿Es necesario tener una empresa para poder requerir u Ofertar?</h4>
                                    <p>No, puedes ser persona natural así como jurídica para acceder a Tcompra. Solo regístrese con sus datos y listo puede ofertar o demandar en la plataforma, si eres persona natural tienes que crear tu cuenta como persona y si eres empresa tu cuenta tiene que ser de tipo empresa</p>
                                </div>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿Qué tipo de productos y servicios encuentro en TCOMPRA?</h4>
                                    <p>Puede encontrar todo tipo de publicaciones de otros usuarios y ofrecer o demandar bienes, servicios hasta personal (RR.HH).</p>
                                </div>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿Cómo funciona TCOMPRA?</h4>
                                    <p>
                                        El proceso de gestión de Tcompra, permite mediante cuadros comparativos ver las ofertas recibidas por su requerimiento, contamos con filtros por ciudad, tiempo de entrega, etc; ayudas para que el usuario pueda generar una orden de compra por la mejor alternativa.<br><br>
                                        Asi una ves culminado el proceso de venta tanto el cliente como el ofertante podran calificarse mutuamnete.
                                    </p>
                                </div>
                                <div class="promotion-box">
                                    <h4 style="font-size: 18px;">¿Qué servicios ofrece TCOMPRA?</h4>
                                    <p>
                                        • Permite crear o buscar requerimientos.<br>
                                        • Los usuarios pueden publicar requerimiento.<br>
                                        • Permite la recepción y envió de cotizaciones.<br>
                                        • Facilita la elaboración de cuadros comparativos para un mejor análisis de las alternativas.<br>
                                        • Genera la orden de compra.<br>
                                        • Califica al cliente y proveedor.
                                    </p>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="col-md-4 sticky-sidebar">
                        <div class="latest-post-right-sidebar">
                            <h2>App</h2>
        
                            <img src="assets/images/app.jpg" class="img-fluid">
                        </div>
        
                        <div class="latest-post-right-sidebar">
                            <h3>Como?</h3>
        
                            <div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
                                <div class="media-body">
                                    <h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
                                    <a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
                                </div>
                            </div>

                            <div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
                                <div class="media-body">
                                    <h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
                                    <a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
                                </div>
                            </div>

                            <div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
                                <div class="media-body">
                                    <h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
                                    <p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
                                    <a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
                                </div>
                            </div>

                            <div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
                                <div class="media-body">
                                    <h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
                                    <p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
                                    <i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
                                    <a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
                                </div>
                            </div>

                        </div>
        
                        <div class="latest-post-right-sidebar">
                            <h2>Publicidad</h2>
        
                            <img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
                                <a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="margin-bottom-large"></div>
