<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<!--<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
                                    </div>
                                    -->
                                    <app-login></app-login>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">

						<div class="header_detalles">
							<div class="container">
								<div class="row" style="margin: 0;">
									<h2 class="titulo_st2">Política de Privacidad</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;margin: 0;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active" style="opacity: 0.7;">Inicio</a></li>
										<li class="breadcrumb-item active"><a routerLink="/politicas-de-privacidad" routerLinkActive="active">Política de Privacidad</a></li>
									</ol>
								</div>
							</div>
						</div>
						
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-01.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
						</div>
					</div>
				</div>
		
			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">

						<div class="col-md-8 sticky-body">
							<div class="row">				
			
								<div class="col-md-12">
									<h2 class="edufair-main-title">Datos de Identificación</h2>
									<div class="promotion-box">
										<p>La presente política de privacidad (en adelante LA POLÍTICA) tiene por finalidad informar sobre la forma como SOLUCIONESONLINE S.A.C. (en adelante SOLUCIONESONLINE), identificada con R.U.C. 20454910215 y con domicilio en calle Peral N° 103 oficina 46, Cercado, provincia y departamento de Arequipa, trata la información personal de sus usuarios a través del portal web <b>TCOMPRA</b>.COM (en adelante <b>TCOMPRA</b>). LA POLÍTICA describe todo el tipo de información personal que recaba de sus usuarios, y todos los tratamientos que se realizan con dicha información. El Usuario declara haber leído y aceptado de manera previa y expresa LA POLÍTICA sujetándose a sus disposiciones.</p>
										<p>Al momento del registro del usuario en <b>TCOMPRA</b>, le solicitamos sus datos personales para el registro y la información de las personas naturales o jurídicas a publicar. <b>TCOMPRA</b> no recopila datos sensibles. El formulario de registro recoge la siguiente información: nombres y apellidos, correo electrónico, número de documento nacional o RUC, domicilio fiscal, teléfono y otros.</p>
										<p>Se informa que los datos personales proporcionados a través de <b>TCOMPRA</b>, quedan incorporados al banco de datos de clientes de <b>TCOMPRA</b> y podrán ser utilizados para tratamientos que supongan desarrollo de acciones comerciales, la remisión (vía medio físico, electrónico o telefónico) de publicidad, información u ofertas (personalizadas o generales) de productos y/o servicios de <b>TCOMPRA</b> o de SOLUCIONESONLINE S.A.C. o de cualquier otra empresa relacionada a SOLUCIONESONLINE S.A.C., por lo que a través de la presente POLITICA, el Usuario da su consentimiento expreso para la inclusión de sus datos personales en el mencionado banco de datos.</p>
										<p>Se informa al titular de los datos personales, que puede revocar la autorización para el tratamiento de sus datos personales en cualquier momento, de conformidad con lo previsto en la Ley de Protección de Datos Personales (Ley No. 29733) y su Reglamento (Decreto Supremo No. 003-2013-JUS. Para ejercer este derecho, o cualquier otro previsto en dichas normas, el titular de datos personales podrá presentar su solicitud en las oficinas de SOLUCIONESONLINE S.A.C. o mediante un correo a info@<b>TCOMPRA</b>.pe.</p>
										<p>La política de privacidad de <b>TCOMPRA</b> le asegura al titular de los datos personales el ejercicio en cualquier momento de los derechos de información, acceso, actualización, inclusión, rectificación, supresión o cancelación, oposición, tratamiento objetivo, derecho a la tutela y, en general, de todos los derechos descritos en la Ley de Protección de Datos Personales (Ley No. 29733) y su Reglamento (Decreto Supremo No. 003-2013-JUS).</p>
										<p><b>TCOMPRA</b> respeta la privacidad de cada una de las personas naturales que le suministren sus datos personales a través de <b>TCOMPRA</b>. Toda la información que el Usuario nos proporcione se tratará con sumo cuidado y con la mayor seguridad posible, y sólo se utilizará de acuerdo con los límites establecidos en este documento.</p>
										<p>Forma parte de la actividad propia de <b>TCOMPRA</b>, dar a conocer los datos de contacto del proveedor del bien o servicio. El resto de los datos personales recabados por <b>TCOMPRA</b> en el proceso de registro o en cualquier otro momento, no serán suministrados a ningún otro Usuario.</p>
										<p>Los Usuarios podrán utilizar la mencionada información que <b>TCOMPRA</b> les da a conocer únicamente para establecer comunicaciones relacionadas con los servicios de <b>TCOMPRA</b>, siempre que no sean comunicaciones comerciales no solicitadas.</p>
										<p>Queda terminantemente prohibido brindar información personal sobre otro Usuario de <b>TCOMPRA</b> sin que medie la expresa autorización por parte del Usuario en cuestión y la de <b>TCOMPRA</b>, incluso en los casos en que se haya realizado una operación comercial entre los Usuarios en cuestión.</p>
										<p><b>TCOMPRA</b> se compromete a no divulgar o compartir con terceros la información personal recabada de los Usuarios sin que se haya prestado el debido consentimiento para ello, con excepción de los siguientes casos:</p>
										<p>
											• En aquellos casos en que el uso de los datos personales sea necesario para la prestación de los servicios brindados a través de <b>TCOMPRA</b>.<br>
											• Solicitud de información de autoridades públicas en ejercicio de sus funciones y el ámbito de sus competencias.<br>
											• Solicitud de información en virtud de órdenes judiciales.<br>
											• Solicitud de información en virtud de disposiciones legales.
										</p>
										<p><b>TCOMPRA</b> se reserva expresamente el derecho a modificar, actualizar o completar en cualquier momento la presente POLÍTICA.</p>
										<p>Cualquier modificación, actualización o ampliación producida en la presente POLÍTICA será inmediatamente publicada en <b>TCOMPRA</b>, por lo que se recomienda al Usuario revisarla periódicamente, especialmente antes de proporcionar información personal.</p>
									</div>
								</div>
			
							</div>
						</div>
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h2>App</h2>
			
								<img src="assets/images/app.jpg" class="img-fluid">
							</div>
			
							<div class="latest-post-right-sidebar">
								<h3>Como?</h3>
			
								<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
										<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
										<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
										<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
									</div>
								</div>

							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
			
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
									<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="margin-bottom-large"></div>
			
		</div>