<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<!--<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div>-->
									<app-login></app-login>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">

						<div class="header_detalles">
							<div class="container">
								<div class="row" style="margin: 0;">
									<h2 class="titulo_st2">Blog</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;margin: 0;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active" style="opacity: 0.7;">Inicio</a></li>
										<li class="breadcrumb-item active"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
									</ol>
								</div>
							</div>
						</div>
						
						<div class="edufair-overlay">
							<img src="assets/images/online-course/post-01.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
						</div>
					</div>
				</div>
		
			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">
						<div class="col-md-8 sticky-body">
			
							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/13.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-13.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>10</span>
										<span>Abr 2018</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-13.html" class="blog-right-sidebar-link">
										<h2>13 Razones por las que las empresas de construcción pierden dinero.</h2>
									</a>
									<p>Las estadísticas de las constructoras que fracasan son preocupantes. Cada día más y más empresas cierran a pesar de las ambiciones y dedicación inquebrantable de quienes las iniciaron.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 10 de Abril, 2018</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/12.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-12.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>10</span>
										<span>Abr 2018</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-12.html" class="blog-right-sidebar-link">
										<h2>La importancia de las comunidades en la gestión de compras.</h2>
									</a>
									<p>Los profesionales de compra y los proveedores pueden trabajar juntos a través de las comunidades para generar mejoras en la industria.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 10 de Abril, 2018</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/11.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-11.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>10</span>
										<span>Abr 2018</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-11.html" class="blog-right-sidebar-link">
										<h2>La importancia de la gestión de cumplimiento de proveedores.</h2>
									</a>
									<p>En el último tiempo, las empresas compradoras se han orientado en invertir en nuevas tecnologías, más confiables y expeditas, que permiten administrar grandes volúmenes de datos y documentación de sus proveedores. Al ser validada por expertos, permite mayor seguridad en futuras contrataciones, optimizando así la gestión de cumplimiento de los proveedores con los que interactúan.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 10 de Abril, 2018</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/10.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-10.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>23</span>
										<span>Oct 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-10.html" class="blog-right-sidebar-link">
										<h2>Identificación de Proveedores y su importancia en la Administración y la Cadena Logística.</h2>
									</a>
									<p>Identificación de Proveedores y su importancia en la Administración y la Cadena Logística.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 23 de Octubre, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/9.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-09.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>23</span>
										<span>Oct 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-09.html" class="blog-right-sidebar-link">
										<h2>Las 6 características de un proveedor ideal</h2>
									</a>
									<p>A la hora de hablar del éxito en ventas que han tenido las tiendas de Colombia, sin lugar a dudas, hay que destacar el papel que cumplen los proveedores. Por eso es importante que el tendero sepa cuáles son las características que debe tener un buen proveedor a la hora de escogerlo.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 23 de Octubre, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/8.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-08.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>23</span>
										<span>Oct 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-08.html" class="blog-right-sidebar-link">
										<h2>La Importancia de las relaciones con los Proveedores</h2>
									</a>
									<p>En los tiempos de incertidumbre y altibajos económicos que corren, ¿las empresas deben establecer relaciones a largo plazo con los proveedores o adoptar un enfoque flexible de la colaboración cliente-proveedor?.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 23 de Octubre, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/7.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-07.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>23</span>
										<span>Oct 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-07.html" class="blog-right-sidebar-link">
										<h2>El papel del proveedor en el proceso comercial de tu empresa</h2>
									</a>
									<p>Un aliado en tu empresa, una relación «ganar-ganar».</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 23 de Octubre, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/6.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-06.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>4</span>
										<span>Jul 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-06.html" class="blog-right-sidebar-link">
										<h2>Conviértete en proveedor de grandes Empresas.</h2>
									</a>
									<p>No cabe duda que proveer servicios o productos a grandes compañías es un gran plan de negocios. Aquí te presentamos una serie de consejos útiles para lograrlo con éxito.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 4 de Julio, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/5.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-05.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>4</span>
										<span>Jul 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-05.html" class="blog-right-sidebar-link">
										<h2>Como ser un proveedor Exitoso</h2>
									</a>
									<p>Ser proveedor de una empresa grande no es una tarea fácil y mucho menos mantenerse. Innovación y apertura de mercado son la clave.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 4 de Julio, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/4.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-04.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>7</span>
										<span>Feb 2017</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-04.html" class="blog-right-sidebar-link">
										<h2>3 Claves para seleccionar a tu mejor proveedor de Email Marketing</h2>
									</a>
									<p>De acuerdo con Statista, el 65% de las personas en el mundo confían más en los correos electrónicos que reciben que en otras acciones propias del Marketing Directo.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 7 de Febrero, 2017</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/3.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-03.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>2</span>
										<span>Dic 2016</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-03.html" class="blog-right-sidebar-link">
										<h2>Liquidación, promociones, saldos y rebajas: similitudes y diferencias</h2>
									</a>
									<p>En todas ellas se bajan los precios de los artículos, pero con condiciones y derechos distintos</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 2 de Diciembre, 2016</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/2.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-02.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>2</span>
										<span>Dic 2016</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-02.html" class="blog-right-sidebar-link">
										<h2>La importancia de la gestión de proveedores</h2>
									</a>
									<p>“Los Proveedores son el centro de actividades y procesos de la mayoría de las compañías”</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 2 de Diciembre, 2016</strong>
									</div>
								</div>
							</div>

							<div class="edufair-single-blog">
								<div class="edufair-blog-overlay">
									<img src="assets/images/blog/1.jpg" alt="Blog" class="edufair-blog-image">
									<div class="edufair-blog-middle">
										<div class="blog-share">
											<ul><li><a href="blog-01.html"> <i class="fa fa-eye" style="font-size: 50px;"></i> </a></li></ul>
										</div>
									</div>
								</div>
								<div class="blog-content">
									<div class="blog-right-sidebar-date">
										<span>2</span>
										<span>Dic 2016</span>
									</div><br><br>
									<span>
										<a href="">Usuario:</a> 
										<a style="color: #000;">Administrador</a>
									</span>
									<a href="blog-01.html" class="blog-right-sidebar-link">
										<h2>Elige al mejor proveedor para tu negocio</h2>
									</a>
									<p>Entre otros factores, el precio y la calidad son indispensables para seleccionar a un proveedor.</p>
									<div class="blog-footer" style="text-align: right;">
										<strong><i class="fas fa-calendar-alt"></i> 2 de Diciembre, 2016</strong>
									</div>
								</div>
							</div>

						</div>
			
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h2>App</h2>
			
								<img src="assets/images/app.jpg" class="img-fluid">
							</div>
			
							<div class="latest-post-right-sidebar">
								<h3>Como?</h3>
			
								<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
										<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
										<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
										<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
									</div>
								</div>

							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
			
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
									<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
							</div>
						</div>
			
					</div>
			
				</div>
			</div>
			
			
			
		</div>