<div id="fakeloader"></div>

<div class="edufair-container">
    
    <div class="edufair-header edufair-course-header">	
        <nav class="navbar navbar-expand-lg edufair-nav">
            <div class="container">	
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
                            <span class="sr-only">Toggle navigation</span>				
                            <i class="fas fa-align-right fa-2"></i>
                        </button>
                        <a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
                        <a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
                        <div class="edufair-cart">
                            <!--<div class="box">
                                <a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
                                <a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
                            </div>-->
                            <app-login></app-login>
                        </div>

                    </div>

                </div>
            </div>
        </nav>

        <div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner edufair-inner single-inner" role="listbox">
                <div class="edufair-overlay">
                    <img src="assets/images/online-course/online-course-13.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
                    <div class="carousel-caption edufair-caption edufair-single-caption">
                        <div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
                            <h2 class="fadeInLeft">Error Página</h2>
                            <ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
                                <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
                                <li class="breadcrumb-item active"><a routerLink="/" routerLinkActive="active">404</a></li>
                            </ol>										
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="edufair-404-page-1x">				
        <div class="container">
            <div class="col-md-12">
                <div class="page-404-content">
                    <span> 404 </span>
                    <h2>¡PÁGINA NO ENCONTRADA!</h2>
                    <h3 style="margin-bottom: 100px;">
                        Lo sentimos, no podemos encontrar la página que estás buscando.
                    </h3>	
                </div>				
            </div>				
        </div>		
    </div>

</div>