<div id="fakeloader"></div>
		
<div class="edufair-container">
	
	<div class="edufair-header edufair-course-header">	
		<nav class="navbar navbar-expand-lg edufair-nav">
			<div class="container">	
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
							<span class="sr-only">Toggle navigation</span>				
							<i class="fas fa-align-right fa-2"></i>
						</button>
						<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
						<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
						<div class="edufair-cart">
							<div class="box">
								<a href="#"  *ngIf="!isLogin" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
								<a href="#" *ngIf="!isLogin" data-toggle="modal" data-target="#Registrar" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
							</div> 
							<ul class="nav navbar-nav justify-content-end" style="margin-right: 0px;text-align: right;" *ngIf="isLogin">
								<li class="nav-item"><a class="nav-link" routerLink="/panel" routerLinkActive="active"><i class="fas fa-window-restore"></i> Panel de Control</a></li>
								<li class="nav-item dropdown">
									<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<div class="media-img-wrap" style="float: left;margin-top: -6px;">
											<div class="avatar">
												<img src="{{imagenUsuario}}" alt="user" class="avatar-img rounded-circle">
											</div>
										</div>
										<b>{{nombreUsuario}}</b>
									</a>
									<div class="dropdown-menu">
										<h6 class="dropdown-header">Bienvenido</h6>
										<a class="dropdown-item" routerLink="/panel" routerLinkActive="active"><i class="fas fa-user-edit" style="margin: 0;padding: 0;color: #262626;font-size: 1rem;margin-right: 1rem;vertical-align: -17%;"></i> Mi Perfil</a>
										<a class="dropdown-item" routerLink="/"  (click)="SalirSesion()"><i class="fas fa-door-open" style="margin: 0;padding: 0;color: #262626;font-size: 1rem;margin-right: 1rem;vertical-align: -17%;"></i> Salir</a>
									</div>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</nav>		

		<div id="carouselExampleControls" class="carousel slide edufair-slide carousel-fade" data-ride="carousel"> 
			<div class="carousel-inner edufair-inner">	

				<div class="carousel-item active">
					<div class="edufair-overlay">
						<img src="assets/images/online-course/slider3.jpg" alt="slide 1" class="edufair-slider-image d-block w-100" style="height: 60vh;">
						<div class="online-course-new-middle">
							<div class="online-course-new-text">

								<h3 style="font-size: 28px;line-height:  1.7;">La primera plataforma de Requerimientos y Ofertas<br>B2B del Perú</h3>

								<div class="col-md-6 offset-md-3">
									<form>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="¿Que Buscas...?">
											<span class="input-group-btn">
												<button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
											</span>
										</div>
									</form>
								</div>

								<div class="online-course-info">
									<ul>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-building"></i> {{cantBienes}} Bienes </li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-poll-h"></i> {{cantServicios}} Servicios</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-stopwatch"></i> {{cantLiquidacion}} Liquidaciones</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-users"></i> {{cantTrabajo}} RRHH</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel-item">
					<div class="edufair-overlay">
						<img src="assets/images/online-course/online-course-01.jpg" alt="slide 2" class="edufair-slider-image d-block w-100" style="height: 60vh;">
						<div class="online-course-new-middle">
							<div class="online-course-new-text">

								<h3 style="font-size: 28px;line-height:  1.7;">La primera plataforma de Requerimientos y Ofertas<br>B2B del Perú</h3>
								
								<div class="col-md-6 offset-md-3">
									<form>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="¿Que Buscas...?">
											<span class="input-group-btn">
												<button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
											</span>
										</div>
									</form>
								</div>
								
								<div class="online-course-info">
									<ul>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-building"></i> {{cantBienes}} Bienes </li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-poll-h"></i> {{cantServicios}} Servicios</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-stopwatch"></i> {{cantLiquidacion}} Liquidaciones</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-users"></i> {{cantTrabajo}} RRHH</li>
									</ul>
								</div>
												
							</div>
						</div>			  
					</div>		  					  
				</div>

				<div class="carousel-item">
					<div class="edufair-overlay">
						<img src="assets/images/online-course/slider2.jpg" alt="slide 2" class="edufair-slider-image d-block w-100" style="height: 60vh;">
						<div class="online-course-new-middle">
							<div class="online-course-new-text">

								<h3 style="font-size: 28px;line-height:  1.7;">La primera plataforma de Requerimientos y Ofertas<br>B2B del Perú</h3>
								
								<div class="col-md-6 offset-md-3">
									<form>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="¿Que Buscas...?">
											<span class="input-group-btn">
												<button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
											</span>
										</div>
									</form>
								</div>
								
								<div class="online-course-info">
									<ul>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-building"></i> {{cantBienes}} Bienes </li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-poll-h"></i> {{cantServicios}} Servicios</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-stopwatch"></i> {{cantLiquidacion}} Liquidaciones</li>
										<li style="color: #fff;font-weight: 500;"><i class="fas fa-users"></i> {{cantTrabajo}} RRHH</li>
									</ul>
								</div>
												
							</div>
						</div>			  
					</div>		  					  
				</div>
				
			</div>
			<a class="left carousel-control-prev edufair-control" href="#carouselExampleControls" role="button" data-slide="prev"></a>
			<a class="right carousel-control-next edufair-control" href="#carouselExampleControls" role="button" data-slide="next"></a>
		</div>

	</div>

	<div class="edufair-blog-1x">
		<div class="container">
			<div class="row">

				<div class="col-md-9 sticky-body">
					<h2 class="edufair-main-title">Busca tus Requerimientos Adecuados</h2>
					<div class="all-course-right">

						<div class="course-description">								
							<ul class="nav nav-pills nav-justified course-description-nav">
								<li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active"><i class="fas fa-building"></i> Bienes</a></li>
								<li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link"><i class="fas fa-poll-h"></i>  Servicios</a></li>
								<li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link"><i class="fas fa-stopwatch"></i>  Liquidaciones</a></li>
								<li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link"><i class="fas fa-users"></i>  Personal</a></li>
							</ul>
							<div class="tab-content course-description-tab">

								<div class="tab-pane fade show active" id="tab1" style="padding-top: 15px;padding-bottom:  15px;">
									<div class="row" style="padding-bottom: 15px;">

										<div class="col-md-6">
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Palabras Claves:</label>
												<div class="col-sm-8">
													<input type="email" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Rubro:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" [(ngModel)]="selectTest">
														<option *ngFor="let item of rubros" [value]="item.key">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Tiempo de Entrega:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of entrega" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Ubicación:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem">
														<option *ngFor="let item of departamentos" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">F. de Publicación:</label>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
											</div>
										</div>

										<div class="col-md-12" style="padding: 15px 0;text-align:  center;border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;display: flow-root;">
											<a href="#" class="edufair-component-button button-medium" data-toggle="modal" data-target="#Login">Buscar <i class="fas fa-search"></i></a>
											<!-- <button  class="btn btn-search form-control"  (click)="paginationTable()">Prueba<i class="fas fa-eye"></i></button>
											<input id="test" type="text" class="form-control" placeholder="¿Que Buscas...?"> -->
											<button id="modalLogin" [hidden]="true" data-toggle="modal" data-target="#Login"></button>
											<button id="modalEmpresa" [hidden]="true" data-toggle="modal" data-target="#Empresa"></button>
											<button id="modalPersona" [hidden]="true" data-toggle="modal" data-target="#Persona"></button>
											<button id="validarCuenta" [hidden]="true" data-toggle="modal" data-target="#ValidarCuenta"></button>
										</div>

									</div>

									<div class="table-responsive">
										<h4 style="color: #444;text-align:  center;padding: 10px 0px;"><i class="fas fa-list"></i> Listado de Requerimientos</h4>
											<label>Mostrar 
												<select class="form-control form-control-sm" style="display: inline-block;width: auto;margin: 10px 10px;" (change)="paginationTable($event.target.value,1)"><option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select>Entradas
											</label>
										<table class="table table-hover">
											<thead class="thead-light">
												<tr>
													<th>Titulo <i class="fad fa-sort-up"></i></th>
													<th>Ubicación <i class="fad fa-sort-up"></i></th>
													<th>Rubro <i class="fad fa-sort-up"></i></th>
													<th>Expira <i class="fad fa-sort-up"></i></th>
													<th>Ver <i class="fad fa-sort-up"></i></th>
												</tr> 
											</thead> 
											<tbody> 
												<tr *ngFor="let item of requerimientos_bien?.reverse() | paginate:{itemsPerPage: cantListBienes, currentPage:pageActual, id:'pagination'}"> 
													<th scope="row">{{item.nombre}}</th> 
													<td>{{item.departamento}}</td>
													<td>{{item.rubro}} </td>
													<td><i class="fas fa-calendar-day" style="color: #0B9A96;margin-right: 5px;"></i>{{item.fecha_final}} </td>
													<td style="text-align: center;"><a routerLink="/detalle-prod/{{item.tipo}}/{{item.key}}" routerLinkActive="active" class="edufair-component-button button-small"><i class="fas fa-eye" style="padding: 0;top: 0px;"></i> Ver</a></td>
												</tr>
											</tbody> 
										</table>
										<pagination-controls (pageChange)="pageActual = $event" [previousLabel]="labels.previousLabel"   [nextLabel]="labels.nextLabel" id="pagination" (pageBoundsCorrection)="pageActual = $event"></pagination-controls>
										
									</div>
								</div>

								<div class="tab-pane fade" id="tab2" style="padding-top: 15px;padding-bottom:  15px;">
									<div class="row" style="padding-bottom: 15px;">

										<div class="col-md-6">
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Palabras Claves:</label>
												<div class="col-sm-8">
													<input type="email" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Rubro:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of rubros" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Tiempo de Entrega:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of entrega" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Ubicación:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of departamentos" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">F. de Publicación:</label>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
											</div>
										</div>

										<div class="col-md-12" style="padding: 15px 0;text-align:  center;border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;display: flow-root;">
											<a href="#" class="edufair-component-button button-medium">Buscar <i class="fas fa-search"></i></a>
										</div>

									</div>

									<div class="table-responsive">
										<h4 style="color: #444;text-align:  center;padding: 10px 0px;"><i class="fas fa-list"></i> Listado de Requerimientos</h4>
										<label>Mostrar 
											<select class="form-control form-control-sm" style="display: inline-block;width: auto;margin: 10px 10px;" (change)="paginationTable($event.target.value,2)"><option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>Entradas
										</label>
										<table class="table table-hover">
											<thead>
												<tr style="background: #a11a70;color: #fff;text-align: center;">
													<th>Titulo</th>
													<th>Ubicación</th>
													<th>Rubro</th>
													<th>Expira</th>
													<th>Ver</th>
												</tr> 
											</thead> 
											<tbody> 
												<tr *ngFor="let item of requerimientos_servicio?.reverse() | paginate:{itemsPerPage: cantListServicios, currentPage: pageActualServicios, id:'pagination2'}"> 
													<th scope="row">{{item.nombre}}</th> 
													<td>{{item.departamento}}</td>
													<td>{{item.rubro}}</td>
													<td><i class="fas fa-calendar-day" style="color: #eba047;margin-right: 5px;"></i>{{item.fecha_final}}</td>
													<td style="text-align: center;"><a routerLink="/detalle-prod/{{item.tipo}}/{{item.key}}" routerLinkActive="active" class="edufair-component-button button-small"><i class="fas fa-eye" style="padding: 0;top: 0px;"></i> Ver</a></td>
												</tr> 
													
											</tbody> 
										</table>
										<pagination-controls (pageChange)="pageActualServicios = $event" id="pagination2" [previousLabel]="labels.previousLabel"   [nextLabel]="labels.nextLabel" (pageBoundsCorrection)="pageActualServicios = $event"></pagination-controls>
									</div>
								</div>

								<div class="tab-pane fade" id="tab3" style="padding-top: 15px;padding-bottom:  15px;">
									<div class="row" style="padding-bottom: 15px;">

										<div class="col-md-6">
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Palabras Claves:</label>
												<div class="col-sm-8">
													<input type="email" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Rubro:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of rubros" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Tiempo de Entrega:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of entrega" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Ubicación:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of departamentos" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">F. de Publicación:</label>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
											</div>
										</div>

										<div class="col-md-12" style="padding: 15px 0;text-align:  center;border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;display: flow-root;">
											<a href="#" class="edufair-component-button button-medium">Buscar <i class="fas fa-search"></i></a>
										</div>

									</div>

									<div class="table-responsive">
										<h4 style="color: #444;text-align:  center;padding: 10px 0px;"><i class="fas fa-list"></i> Listado de Liquidaciones</h4>
										<label>Mostrar 
											<select class="form-control form-control-sm" style="display: inline-block;width: auto;margin: 10px 10px;" (change)="paginationTable($event.target.value,3)"><option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>Entradas
										</label>
										<table class="table table-hover">
											<thead>
												<tr style="background: #a11a70;color: #fff;text-align: center;">
													<th>Titulo</th>
													<th>Ubicación</th>
													<th>Rubro</th>
													<th>Expira</th>
													<th>Ver</th>
												</tr> 
											</thead> 
											<tbody> 
												<tr *ngFor="let item of liquidacion?.reverse() | paginate:{itemsPerPage: cantListLiquidacion, currentPage:pageActualLiquidacion, id:'pagination3'}"> 
													<th scope="row">{{item.nombre}}</th> 
													<td>{{item.departamento}}</td>
													<td>{{item.rubro}}</td>
													<td><i class="fas fa-calendar-day" style="color: #eba047;margin-right: 5px;"></i>{{item.fecha_final}}</td>
													<td style="text-align: center;"><a routerLink="/detalle-prod/{{item.tipo}}/{{item.key}}" routerLinkActive="active" class="edufair-component-button button-small"><i class="fas fa-eye" style="padding: 0;top: 0px;"></i> Ver</a></td>
												</tr> 
												
											</tbody> 
										</table>
										<pagination-controls (pageChange)="pageActualLiquidacion = $event" id="pagination3" [previousLabel]="labels.previousLabel"   [nextLabel]="labels.nextLabel" (pageBoundsCorrection)="pageActualLiquidacion = $event"></pagination-controls>
									</div>
								</div>

								<div class="tab-pane fade" id="tab4" style="padding-top: 15px;padding-bottom:  15px;">
									<div class="row" style="padding-bottom: 15px;">

										<div class="col-md-6">
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Palabras Claves:</label>
												<div class="col-sm-8">
													<input type="email" class="form-control">
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Rubro:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of rubros" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="colFormLabelSm" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Jornada Laboral:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of jornada" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">Ubicación:</label>
												<div class="col-sm-8">
													<select class="form_control selectitem" >
														<option *ngFor="let item of departamentos" [value]="item.data.nombre">
															{{item.data.nombre}}</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label" style="padding: 20px 5px;">F. de Publicación:</label>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
												<div class="col-sm-4"><input type="date" class="form-control"></div>
											</div>
										</div>

										<div class="col-md-12" style="padding: 15px 0;text-align:  center;border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;display: flow-root;">
											<a href="#" class="edufair-component-button button-medium">Buscar <i class="fas fa-search"></i></a>
										</div>

									</div>

									<div class="table-responsive">
										<h4 style="color: #444;text-align:  center;padding: 10px 0px;"><i class="fas fa-list"></i> Listado de Personal</h4>
										<label>Mostrar 
											<select class="form-control form-control-sm" style="display: inline-block;width: auto;margin: 10px 10px;" (change)="paginationTable($event.target.value,4)"><option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>Entradas
										</label>
										<table class="table table-hover">
											<thead>
												<tr style="background: #a11a70;color: #fff;text-align: center;">
													<th>Titulo</th>
													<th>Ubicación</th>
													<th>Rubro</th>
													<th>Expira</th>
													<th>Ver</th>
												</tr> 
											</thead> 
											<tbody> 
												<tr *ngFor="let item of pTrabajo?.reverse() | paginate:{itemsPerPage: cantListTrabajo, currentPage:pageActualTrabajo, id:'pagination4'}"> 
													<th scope="row">{{item.nombre}}</th> 
													<td>{{item.departamento}}</td>
													<td>{{item.rubro}}</td>
													<td><i class="fas fa-calendar-day" style="color: #eba047;margin-right: 5px;"></i>{{item.fecha_final}}</td>
													<td style="text-align: center;"><a routerLink="/detalle-prod/{{item.tipo}}/{{item.key}}" routerLinkActive="active" class="edufair-component-button button-small"><i class="fas fa-eye" style="padding: 0;top: 0px;"></i> Ver</a></td>
												</tr> 
											</tbody> 
										</table>
										<pagination-controls (pageChange)="pageActualTrabajo = $event" id="pagination4" [previousLabel]="labels.previousLabel"   [nextLabel]="labels.nextLabel" (pageBoundsCorrection)="pageActualTrabajo = $event"></pagination-controls>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="col-md-3 sticky-sidebar">
					<div class="latest-post-right-sidebar">
						<h2>App</h2>
	
						<img src="assets/images/app.jpg" class="img-fluid">
					</div>
	
					<div class="latest-post-right-sidebar">
						<h3>Como?</h3>
	
						<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
							<div class="media-body">
								<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
								<a routerLink="/como-comprar" routerLinkActive="active" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
							</div>
						</div>

						<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
							<div class="media-body">
								<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
								<a routerLink="/como-vender" routerLinkActive="active" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
							</div>
						</div>

						<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
							<div class="media-body">
								<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
								<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
								<a routerLink="/liquidaciones" routerLinkActive="active" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
							</div>
						</div>

						<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
							<div class="media-body">
								<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
								<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
								<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
								<a routerLink="/preguntas-frecuentes" routerLinkActive="active" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
							</div>
						</div>

					</div>
	
					<div class="latest-post-right-sidebar">
						<h2>Publicidad</h2>
	
						<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
						<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="online-become-techer-1x" style="margin-top: 4%;">
		<div class="container">	
			<div class="become-techer">			
				<div class="row">
					<div class="col-md-12">
						<div class="become-techer-right text-center">
							<h3>Tcompra</h3>
							<p>Para ti y tu Negocio!<br>Encuentra al mejor Proveedor al por Mayor y Menor</p>
							<p>¿Buscas Trabajo pero no sabes como?<br>Ingresa tu Currículum y encuentra trabajo Gratis!</p>
							<p><a href="#" class="edufair-course-text">Ver Más</a></p>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
</div>

<!-- Modales -->
<div class="modal fade" id="Login" tabindex="-1" role="dialog" #Login >
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 0px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 60px 0px 60px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Iniciar Sesión</h3>
					</div>
					<div class="edufair-subscription-form-1x">							
						<form id="tb_login_in" role="form" [formGroup]="loginForm">
							<div class="col-md-12" >
								<div class="form-group">							    										    
									<input  type="email" class="form-control" placeholder="Introducir Email" [ngClass]="validarFormularioInput(loginForm, 'email')" required #email formControlName="email">
									<div *ngIf="validarFormularioMessageShow(loginForm, 'email') === 1" [ngClass]="validarFormularioMessage(loginForm, 'email')">Formato Correcto.</div>
									<div *ngIf="validarFormularioMessageShow(loginForm, 'email') === 2" [ngClass]="validarFormularioMessage(loginForm, 'email')">Formato Incorrecto.</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="input-group">									    										    
									<input  type="password" class="form-control" placeholder="Introducir Password" [ngClass]="validarFormularioInput(loginForm, 'pass')" required #pass formControlName="pass" (keyup.enter)="IniciarSesion()">
									<div *ngIf="validarFormularioMessageShow(loginForm, 'pass') === 1" [ngClass]="validarFormularioMessage(loginForm, 'pass')">Formato Correcto.</div>
									<div *ngIf="validarFormularioMessageShow(loginForm, 'pass') === 2" [ngClass]="validarFormularioMessage(loginForm, 'pass')">Minimo 6 Caracteres.</div>
									<span class="input-group-btn">					
										<button class="btn btn-search form-control"  title="Ver Contraseña" style="height: 2.50em;"><i class="fas fa-eye"></i></button>	
									</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="custom-control custom-checkbox my-1 mr-sm-2">
									<input type="checkbox" class="custom-control-input" id="customControlInline">
									<label class="custom-control-label" for="customControlInline">Recordarme</label>
								</div>
							</div>
					
							<div class="col-md-12">
								<button (click)="IniciarSesion()" type="button" class="edufair-btn-larg btn-block boton_login">Iniciar Sesión</button>
							</div>
							<div class="col-md-12 terms-condition">
								<p style="margin-bottom: 0;">¿No eres miembro? <a href="#" class="" data-toggle="modal" data-target="#Registrar"> <b>Registrate</b></a></p>
								<p style="padding-top: 10px;">Olvidades tu <a href="#" class="" data-toggle="modal" data-target="#RecuperarPass"> <b>Contraseña</b></a></p>
							</div>
						</form>	
					</div>			
				</div>	
			</div>
	
		</div>
	</div>
</div>

<div class="modal fade" id="Registrar" tabindex="-1" role="dialog" #Registrar>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 0px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 60px 0px 60px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Registrate</h3>
					</div>
					<div class="edufair-subscription-form-1x">
						<form id="form1_log" role="form">
							<div class="col-md-12" style="margin: 10px 0;text-align: center;">
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked (click)="setRadio('Empresa')">
									<label class="custom-control-label" for="customRadioInline1">Empresa</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" (click)="setRadio('Persona')">
									<label class="custom-control-label" for="customRadioInline2">Persona Natural</label>
								</div>
							</div>
							<div class="col-md-12" style="text-align: center;color: #898989;">
								<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">{{lblRadio}}</label>
							</div>
							<div class="col-md-12" style="margin-bottom: 0;">
								<div class="form-group">
									<input *ngIf="isRadio" type="number"  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==12 && event.keyCode!=8) return false;" max="999999999999" class="form-control" name="var_registro"  placeholder="Introducir RUC" (input)="validarDoc=$event.target.value" required #ruc>
									<input *ngIf="!isRadio" type="number"  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8) return false;" max="99999999" class="form-control" name="var_registro"  placeholder="Introducir DNI" (input)="validarDoc=$event.target.value" required #dni>
								</div>
							</div>
							<div class="col-md-12">
								<button (click)="validarDocumento()"class="edufair-btn-larg btn-block boton_login" data-toggle="modal"  style="margin-bottom: 10px;">Continuar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	
<!-- Tipo de registro como Persona Natural -->
<div class="modal fade" id="Persona" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document" id="persona" name="persona" style="width: 500px;">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 160px 0px 160px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;"><span class="glyphicon glyphicon-lock"></span> Registro de Persona</h3>
					</div>

					<div class="edufair-subscription-form-1x">
						<form role="form">

							<div class="col-md-12">
								<div class="form-group">
									<input id="PERnombre" name="PERnombre" type="text" class="form-control" placeholder="Nombre" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group row">
									<div class="col-md-6">
										<input id="PERapellidoP" name="PERapellidoP" type="text" class="form-control" placeholder="Apellido Paterno" required>
									</div>
									<div class="col-md-6">
										<input id="PERapellidoM" name="PERapellidoM" type="text" class="form-control" placeholder="Apellido Materno" required>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input id="PERdireccion1" name="PERdireccion1" type="text" class="form-control" placeholder="Direccion" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group row">
									<div class="col-md-6">
										<select id="PERdireccion2" name="PERciudad" type="text" class="form-control" placeholder="Ciudad" required>
											<option value="0">Departamento</option>
											<option value="1">Amazonas</option>
											<option value="2">Ancash</option>
											<option value="3">Apurimac</option>
											<option value="4">Arequipa</option>
											<option value="5">Ayacucho</option>
											<option value="6">Cajamarca</option>
											<option value="7">Cuzco</option>
											<option value="8">Huancavelica</option>
											<option value="9">Huanuco</option>
											<option value="10">Ica</option>
											<option value="11">Junin</option>
											<option value="12">La Libertad</option>
											<option value="13">Lambayeque</option>
											<option value="14">Lima</option>
											<option value="15">Moquegua</option>
											<option value="16">Pasco</option>
											<option value="17">Piura</option>
											<option value="18">Puno</option>
											<option value="19">San Martin</option>
											<option value="20">Tacna</option>
											<option value="21">Tumbes</option>
											<option value="22">Ucayali</option>
										</select>
									</div>
									<div class="col-md-6">
										<select id="PERdireccion3" name="PERpais" type="text" placeholder="Pais">
											<option value="Peru">Perú</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input id="PERtelefono" name="PERtelefono" class="form-control" type="text" placeholder="Telefono" required>
								</div>
							</div>
							<div class="col-md-12" style="text-align: center;color: #898989;">
								<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">Seleccione 2 Rubros</label>
							</div>
							<div class="col-md-12">
								<div class="form-group row">
									<div class="col-md-6">
										<select id="PERCONrubro11" name="cUE_RUB1">
											<option>Seleccione 1° Rubro</option>
										</select>
									</div>
									<div class="col-md-6">
										<select id="PERCONrubro22" name="cUE_RUB2">
											<option>Seleccione 2° Rubro</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<button class="edufair-btn-larg btn-block boton_login" id="btnPersona" type="button">Registrar Persona</button>
							</div>
						</form>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
	
<!-- Tipo de registro como Empresa -->
<div class="modal fade" id="Empresa" tabindex="-1" role="dialog" aria-hidden="true" #Empresa>
	<div class="modal-dialog modal-lg" role="document" style="width: 500px;">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 160px 0px 160px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Registro de Empresa</h3>
					</div>
					<form role="form" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="form-group">
								<input name="EMPnombre" class="form-control" type="text" placeholder="Nombre de Empresa" required #nombreEmpresa>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group row">
								<div class="col-md-6">
									<input name="EMPrazonSocial" class="form-control" type="text" placeholder="Razon Social" required #razonSocialEmpresa>
								</div>
								<div class="col-md-6">
									<input name="EMPrazonSocial" class="form-control" type="text" placeholder="Direccion" required #direccionEmpresa>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group row">
								<div class="col-md-6">
									<select name="PERciudad" class="form-control" type="text" placeholder="Ciudad" required (change)="selectDepartamento($event.target.value)">
										<option *ngFor="let item of departamentos" [value]="item.key">
											{{item.data.nombre}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<select name="PERpais" class="form-control" type="text" placeholder="Pais">
										<option value="Peru">Perú</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="text-align: center;color: #898989;">
							<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">Tipo de Empresa</label>
						</div>
						<div class="col-md-12">
							<div class="form-group row">
								<div class="col-md-6">
									<select name="EMPtipos" class="form-control" required (change)="selectTipo($event.target.value)">
										<option *ngFor="let item of tipoEmpresa" [value]="item.key">
											{{item.data.nombre}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<input name="EMPespecialidad" class="form-control" type="text" placeholder="Especialidad" required #especialidadEmpresa>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="text-align: center;color: #898989;">
							<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">Seleccione 2 Rubros</label>
						</div>
						<div class="col-md-12">
							<div class="form-group row">
								<div class="col-md-6">
									<select id="PERCONrubro1" name="cUE_RUB1" (change)="selectRubro1($event.target.value)">
										<option *ngFor="let item of rubros" [value]="item.key">
											{{item.data.nombre}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<select id="PERCONrubro2" name="cUE_RUB2" (change)="selectRubro2($event.target.value)">
										<option *ngFor="let item of rubros" [value]="item.key">
											{{item.data.nombre}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<select id="PERCONrubro3" name="cUE_RUB2" (change)="selectRubro3($event.target.value)">
										<option *ngFor="let item of rubros" [value]="item.key">
											{{item.data.nombre}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="text-align: center;color: #898989;">
							<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">Dato Verificado con la SUNAT</label>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<!--antiguedad-->
								<select id="antiEmp" name="antiEmp" class="form-control" required (change)="selectAntiguedad($event.target.value)">
									<option *ngFor="let item of antiguedad" [value]="item.key">
										{{item.data.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<button class="edufair-btn-larg btn-block boton_login" (click)="validarCuenta()" id="btnEmpresa" type="button">Registrar Empresa</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="PersonaContacto" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 60px 0px 60px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Registro Persona de Contacto</h3>
					</div>
					<div class="edufair-subscription-form-1x">
						<form id="form5_log" role="form">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" name="PERCONnombre" type="text" placeholder="Nombre" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input name="PERCONapellidoP" class="form-control" type="text" placeholder="Apellido Paterno" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input name="PERCONapellidoM" class="form-control" type="text" placeholder="Apellido Materno" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input name="PERCONdni" type="text" class="form-control" placeholder="DNI" maxlength="8" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input name="PERCONdireccion" class="form-control" type="text" placeholder="Direccion" maxlength="28" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input id="PERCONtelefono" name="PERCONtelefono" class="form-control" type="text" placeholder="Telefono" maxlength="8" required>
								</div>
							</div>
							<div class="col-md-12">
								<button class="edufair-btn-larg btn-block boton_login" id="btnPerContacto" type="button">Registrar Persona de Contacto</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
		
<div class="modal fade" id="ValidarCuenta" tabindex="-1" role="dialog" #ValidarCuenta>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 60px 0px 60px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Validar Cuenta</h3>
					</div>
					<div class="edufair-subscription-form-1x">
						<form id="form3_log" role="form" [formGroup]="registerForm">
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" required class="form-control" name="CUEcorreo" class="form-control" placeholder="Introducir Email" [ngClass]="validarFormularioInput(registerForm, 'registerEmail')" #registerEmail formControlName="registerEmail"/>
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerEmail') === 1" [ngClass]="validarFormularioMessage(registerForm, 'registerEmail')">Formato Correcto.</div>
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerEmail') === 2" [ngClass]="validarFormularioMessage(registerForm, 'registerEmail')">Formato Incorrecto.</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="password" required class="form-control" name="CUEpassword1" class="form-control" placeholder="Contraseña" [ngClass]="validarFormularioInput(registerForm, 'registerPass')" #registerPass formControlName="registerPass" />
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerPass') === 1" [ngClass]="validarFormularioMessage(registerForm, 'registerPass')">Formato Correcto.</div>
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerPass') === 2" [ngClass]="validarFormularioMessage(registerForm, 'registerPass')">Minimo 6 Caracteres.</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="password" required class="form-control" name="CUEpassword2" class="form-control" placeholder="Repita su Contraseña" [ngClass]="validarFormularioInput(registerForm, 'registerPass2')" #registerPass2 formControlName="registerPass2" (keyup.enter)="Registrar()"/>
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerPass2') === 1" [ngClass]="validarFormularioMessage(registerForm, 'registerPass2')">Formato Correcto.</div>
									<div *ngIf="validarFormularioMessageShow(registerForm, 'registerPass2') === 2" [ngClass]="validarFormularioMessage(registerForm, 'registerPass2')">Minimo 6 Caracteres.</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="custom-control custom-checkbox my-1 mr-sm-2">
									<input type="checkbox" class="custom-control-input" id="customControlInline2">
									<label class="custom-control-label" for="customControlInline2">Acepto los Terminos y Condiciones</label>
								</div>
							</div>
							<div class="col-md-12">
								<button class="edufair-btn-larg btn-block boton_login" (click)="RegistrarUsuario()" id="btnCuenta" type="button">Validar Cuenta</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="RecuperarPass" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;">
					<div class="edufair-subscription-title-1x">
						<img src="assets/images/logo.svg" style="padding: 30px 60px 0px 60px;">
						<h3 style="font-size: 20px;padding: 20px;color: #fff;">Recuperar Contraseña</h3>
					</div>

					<div class="edufair-subscription-form-1x" align="center">

						<div role="form">
							<div class="col-md-12" style="text-align: center;color: #898989;">
								<label class="text-left" style="margin-top: 5px;font-weight: 600;font-size: 16px;">Ingrese su Correo</label>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input id="var_correoRec" class="form-control" name="var_correRec" type="email" placeholder="Introducir Email">
								</div>
							</div>
							<div class="col-md-12">
								<button class="edufair-btn-larg btn-block boton_login" id="btnRecuperar" type="button">Seguir</button>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>