<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<!--<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div>-->
									<app-login></app-login>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-04.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
							<div class="carousel-caption edufair-caption edufair-single-caption">
								<div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
									<h2 class="fadeInLeft">Contactos</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
										<li class="breadcrumb-item active"><a routerLink="/contactos" routerLinkActive="active">Contactos</a></li>
									</ol>										
								</div>
							</div>				  
						</div>
					</div>
				</div>
		
			</div>

			<div class="online-course-2x">
				<div class="edufair-featured-category-1x padding-top-large margin-bottom-large">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									
									<div class="col-md-4">
										<div class="single-featured-category">
										
											<div class="featured-category-img">
												<i class="fas fa-map-marker-alt"></i>
											</div>
											
											<h4>Ubicación</h4>
											<p>Arequipa - Perú</p>	
										</div>
									</div>
									<div class="col-md-4">
										<div class="single-featured-category">
										
											<div class="featured-category-img">
												<i class="fas fa-phone"></i>
											</div>
											
											<h4>Telefono</h4>
											<p> (+51) (54) 418715</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="single-featured-category">
										
											<div class="featured-category-img">
												<i class="fas fa-location-arrow"></i>
											</div>
											
											<h4>Correo</h4>
											<p>info@tcompra.com</p>	
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="uuniversity-2x admission-apply-1x">
				<div class="admission-form-1x">					 
					<div class="container">
						<div class="row">		
							<div class="edufair-subscription-1x contact-us-header" style="width: 100%;">
								<h2>Dejanos tu mensaje</h2>
								<h3>Su dirección de correo electrónico no será publicada. Los campos obligatorios están marcados.</h3>
								
								<div class="edufair-subscription-form-1x">							
									<form action="php/contact-form.php" method="POST">
										<div class="col-md-12">
											<div class="form-group row">
												<div class="col-md-4">
													<input type="text" class="form-control" placeholder="Nombre" required="">
												</div>
												<div class="col-md-4">
													<input type="email" class="form-control" placeholder="Email" required="">
												</div>
												<div class="col-md-4">
													<input type="number" class="form-control" placeholder="Telefono / Celular" required="">
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">									    										    
												<textarea type="text" class="form-control" id="message" placeholder="Mensaje" required=""></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<a href="#" class="edufair-btn-larg notice-read-more"> Enviar Mensaje </a>
										</div>
										
									</form>	
								</div>			
							</div>		
						</div>		
					</div>		
				</div>		
			</div>	
			

			<div class="margin-bottom-large"></div>
			
				
			
		</div>