<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<!--<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
                                    </div>-->
                                    <app-login></app-login>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">

						<div class="header_detalles">
							<div class="container">
								<div class="row" style="margin: 0;">
									<h2 class="titulo_st2">Nosotros</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;margin: 0;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active" style="opacity: 0.7;">Inicio</a></li>
										<li class="breadcrumb-item active"><a routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
									</ol>
								</div>
							</div>
						</div>
						
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-08.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
						</div>
					</div>
				</div>
		
			</div>
			
			<div class="container">
				<div class="edufair-about-university">
				
					<div class="row">				
	
						<div class="col-md-6">
							<h2 class="edufair-main-title">Como nació la Idea</h2>
							<p>De acuerdo a las necesidades de nuestro entorno empresarial, creamos un sitio digital seguro de fácil acceso, en el que nos aseguramos de mejorar la experiencia de búsqueda, contacto e interacción negociable. Así apoyar y fomentar una comunidad emprendedora.</p>
							<h2 class="edufair-main-title">Que queremos Generar</h2>
							<p>La primera plataforma B2B, B2C y C2C, atendiendo un mercado latinoamericano, que se potencia en el desarrollo de más Mypes y emprendimientos propios.</p>
						</div>
						<div class="col-md-6 about-university-img">
							<img src="assets/images/online-course/online-course-02.jpg" alt="Avatar" class="">
						</div>
	
					</div>
				</div>
			</div>
<!--
			<div class="margin-bottom-large"></div>

			<div class="edufair-cta-1x margin-top-large">				
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="cta-left">
								<h4>Tcompra.com</h4>
								<h3>La primera plataforma B2B del Perú</h3>
							</div>	
						</div>	
						<div class="col-md-4">
							<div class="cta-right">
								<a href="#" class="edufair-btn-larg  kid-contact-cta">Registrate</a>	
							</div>		
						</div>	
					</div>		
				</div>		
			</div>
        -->
			<div class="container">
				<div class="edufair-about-university">
				
					<div class="row">				
	
						<div class="col-md-8 about-university-img">
							<img src="assets/images/online-course/slider3.jpg" alt="Avatar" class="">
						</div>
						<div class="col-md-4">
							<h2 class="edufair-main-title">Nuestros Valores</h2>
							<p>
								Nos consolidamos en fortalezas como:<br><br>
								• Respeto<br>
								• Empatía<br>
								• Perseverancia<br>
								• Compromiso<br>
								• Innovacion<br>
								• Variedad<br>
								• Calidad<br>
								• Rapides &<br>
								• Ubicación
							</p>
						</div>
	
					</div>
				</div>
			</div>

			<div class="margin-bottom-large"></div>
			
			
		</div>