<div id="fakeloader"></div>
		
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" href="index.html"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" href="index.html"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<div class="box">
										<a href="#" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" data-toggle="modal" data-target="#PersonaContacto" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">
						<div class="edufair-overlay">
							<img src="assets/images/online-course/online-course-05.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
							<div class="carousel-caption edufair-caption edufair-single-caption">
								<div class="container edufair-slider-text" style="top: 30%;left: -6.6%;position: absolute;">
									<h2 class="fadeInLeft">Liquidación</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
										<li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
										<li class="breadcrumb-item active"><a href="#">Liquidación</a></li>
									</ol>										
								</div>
							</div>				  
						</div>
					</div>
				</div>
		
			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">

						<div class="col-md-8 sticky-body">
							<div class="row">				
			
								<div class="col-md-12">
									<h2 class="edufair-main-title">Liquidación de Productos</h2>
									<div class="promotion-box">
										<p>
											Trabajando con nosotros puedes hacer que tu liquidación sirva para convertir los activos que tienes en efectivo.
											Muchas empresas planifican una estrategia de liquidación para uno o varios productos durante temporadas.
										</p>
									</div>
									<div class="promotion-box">
										<p>
											Por ejemplo, algunas empresas definen ya de antemano un periodo de tiempo de venta para un producto, pero a la vez también tienen establecido otro periodo de venta de ese mismo producto, pero ya con la estrategia de liquidación.
										</p>
									</div>
									<div class="promotion-box">
										<p>
											Te recomendamos desarrollar una estrategia de liquidacion cuando:
										</p>
									</div>
									<div class="promotion-box">
										<p>
											• Busca obtener ingresos en poco tiempo.<br>
											• Para terminar con el stock.<br>
											• Para capturar nuevos compradores(aquellas personas que no comprar los productos al inicio, que siempre están atentas a las ofertas o liquidaciones).<br>
											• Cerrar el negocio a tiempo y recuperar el capital invertido.
										</p>
									</div>
									<div class="promotion-box">
										<p>
											Algunos tipos de estrategias que te recomendamos:
										</p>
									</div>
									<div class="promotion-box">
										<p>
											• Indicar bien en claro que la promoción será solo por un determinado periodo de tiempo.<br>
											• Mencionar que solo se tiene una determinada cantidad del producto que esta en promoción e incentivar a que lo compren rápido.<br>
											• Poner anuncios donde indiquen la liquidación, mas abajo indicar que dicha liquidación para tener acceso a ella, necesitan la compra de otro producto.<br>
											• Aumentar la publicidad, buscar nuevos canales de comunicación(Tcompra.com, radio, televisión, Internet, volantes, afiches, folletos, etc.<br>
											• Utilizar el merchandising para exhibir los productos de unamanera más atractiva destacando los que están en liquidación diferenciándolos del resto, mejorando la iluminación, colores, ambiente, etc.
										</p>
									</div>
									<div class="promotion-box">
										<p>
											Existen diferentes tipos de clientes, están los que compran siempre al precio original e inicial; los que consumen cuando hay algun descuento; y el consumidor estrategico que reflexiona acerca del momento en que debe realizar la adquisición del producto. Esto hay que tenerlo en cuenta al momento de utilizar una estrategia de liquidación, pues son nuevos clientes que pueden incrementar nuestras ventas o adquirir nuestros productos.
										</p>
									</div>
								</div>
			
							</div>
						</div>
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h2>App</h2>
			
								<img src="assets/images/app.jpg" class="img-fluid">
							</div>
			
							<div class="latest-post-right-sidebar">
								<h3>Como?</h3>
			
								<div class="media edufair-single-features edufair-single-features-1x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Comprar?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-5x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Como Vender?</h4>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-2x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Necesitas Comprar?</h4>
										<p style="color: #fff;margin-bottom: 15px;">Más de 10 mil proveedores en linea estan atentos a tus requerimientos de Bienes, Servicios y RRHH</p>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ver</a>
									</div>
								</div>

								<div class="media edufair-single-features edufair-single-features-3x wow fadeInDown" style="visibility: visible;">
									<div class="media-body">
										<h4 class="media-heading edufair-subtitle">¿Buscas Trabajo?</h4>
										<p style="color: #fff;margin-bottom: 0px;">Ingresa tu curriculum y encuentra trabajo <b>Gratis</b></p>
										<i class="far fa-file-alt" style="display:  block;color:  #fff;padding: 15px 10px;font-size: 40px;"></i>
										<a href="#" class="" style="border: 2px solid;padding:  4px 10px;border-radius: 2px;">Ingresar</a>
									</div>
								</div>

							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
			
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
									<a href="https://servicio.indecopi.gob.pe/appCPCBuscador/" target="indecopi"><img src="assets/images/tcompra-indecopi.jpg" class="img-fluid" style="margin-top:  10px;"></a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="margin-bottom-large"></div>
			
			
			
		</div>