<div id="fakeloader"></div>
		<div class="edufair-container">
			
			<div class="edufair-header edufair-course-header">	
				<nav class="navbar navbar-expand-lg edufair-nav">
					<div class="container">	
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="float: right;margin-top: 10px;">
									<span class="sr-only">Toggle navigation</span>				
									<i class="fas fa-align-right fa-2"></i>
								</button>
								<a class="navbar-brand edufair-brand edufair-light" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-white.svg" alt="Logo"></a>
								<a class="navbar-brand edufair-brand edufair-dark" routerLink="/" routerLinkActive="active"><img src="assets/images/logo-black.svg" alt="Logo"></a>
							</div>
							
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								<div class="edufair-cart">
									<app-login></app-login>
									<!--<div class="box" >
										<a href="#"  *ngIf="!isLogin" data-toggle="modal" data-target="#Login" style="margin-right: 15px;"><i class="fas fa-lock"></i><b class="op-menu"> Iniciar Sesión</b></a>
										<a href="#" *ngIf="!isLogin" data-toggle="modal" data-target="#Registrar" id="popup"><i class="fas fa-user"></i><b class="op-menu"> Registrar</b></a>
									</div> 
									<ul class="nav navbar-nav justify-content-end" style="margin-right: 0px;text-align: right;" *ngIf="isLogin">
										<li class="nav-item"><a class="nav-link" routerLink="/panel" routerLinkActive="active"><i class="fas fa-window-restore"></i> Panel de Control</a></li>
											<li class="nav-item dropdown">
												<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<div class="media-img-wrap" style="float: left;margin-top: -6px;">
														<div class="avatar">
															<img src="{{imagenUsuario}}" alt="user" class="avatar-img rounded-circle">
														</div>
													</div>
													<b>{{usuarioAutenticado}}</b>
												</a>
												<div class="dropdown-menu">
													<h6 class="dropdown-header">Bienvenido</h6>
													<a class="dropdown-item" routerLink="/panel" routerLinkActive="active"><i class="fas fa-user-edit" style="margin: 0;padding: 0;color: #262626;font-size: 1rem;margin-right: 1rem;vertical-align: -17%;"></i> Mi Perfil</a>
													<a class="dropdown-item" type="button"  (click)="SalirSesion()"><i class="fas fa-door-open" style="margin: 0;padding: 0;color: #262626;font-size: 1rem;margin-right: 1rem;vertical-align: -17%;"></i> Salir</a>
												</div>
											</li>
									</ul>-->
								</div>

							</div>

						</div>
					</div>
				</nav>

				<div id="carousel-example-generic" class="carousel slide edufair-slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner edufair-inner single-inner" role="listbox">
						<div class="edufair-overlay">
							<img *ngIf="tipoProducto==='1'" src="assets/images/slider/slider-01.jpg" alt="slide 1" class="edufair-slider-image edufair-single-image">
							<img *ngIf="tipoProducto==='2'" src="assets/images/slider/slider-02.jpg" alt="slide 2" class="edufair-slider-image edufair-single-image">
							<img *ngIf="tipoProducto==='3'" src="assets/images/slider/slider-03.jpg" alt="slide 3" class="edufair-slider-image edufair-single-image">
							<img *ngIf="tipoProducto==='4'" src="assets/images/slider/slider-04.jpg" alt="slide 4" class="edufair-slider-image edufair-single-image">
							<div class="carousel-caption edufair-caption edufair-single-caption">
								<div class="container edufair-slider-text" style="top: 48%;left: -6.6%;position: absolute;">
									<h2 style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" >{{producto?.nombre}}</h2>
									<ol class="breadcrumb edufair-single-breadcrumbs" style="width: 100%;">
										<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
										<li *ngIf="tipoProducto==='1'" class="breadcrumb-item active"><a routerLink="/detalle-prod/{{tipoProducto}}/{{idProducto}}" routerLinkActive="active">Bienes</a></li>
										<li *ngIf="tipoProducto==='2'" class="breadcrumb-item active"><a routerLink="/detalle-prod/{{tipoProducto}}/{{idProducto}}" routerLinkActive="active">Servicios</a></li>
										<li *ngIf="tipoProducto==='3'" class="breadcrumb-item active"><a routerLink="/detalle-prod/{{tipoProducto}}/{{idProducto}}" routerLinkActive="active">Liquidación</a></li>
										<li *ngIf="tipoProducto==='4'" class="breadcrumb-item active"><a routerLink="/detalle-prod/{{tipoProducto}}/{{idProducto}}" routerLinkActive="active">R.R.H.H.</a></li>
										<li class="breadcrumb-item active"><a routerLink="/detalle-prod/tipoProducto/idProducto" routerLinkActive="active">{{producto?.nombre}}</a></li>
									</ol>										
								</div>
							</div>				  
						</div>
					</div>
				</div>

			</div>

			<div class="edufair-blog-1x">
				<div class="container">
					<div class="row">
						<div class="col-md-12 sticky-body">
							<h2 class="edufair-main-title" >
								{{producto?.nombre}}
								<b style="font-size: 16px;color: #696969;">|</b>
								<b style="font-size: 16px;color: #696969;margin-left: 7px;">{{rubro?.nombre}}</b>
							</h2>
						</div>

						<div class="col-md-8 sticky-body">
							<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">

									<div class="preview-single-labels">
										<div class="clearfix">
											<div class="label-black pull-left">
												<h3>{{departamento?.nombre}}, Perú</h3>
												<p>
													<a>{{producto?.nombre}}</a> <span class="delimiter-inline-alt"></span>

												</p>
											</div>
											<div class="label-white pull-right">
												<div *ngIf="tipoProducto==='1' || tipoProducto==='2' || tipoProducto==='3'" class="listing-price">S/. {{producto?.presupuesto}} <span class="small">/Presupuesto</span></div>
												<div *ngIf="tipoProducto==='4'" class="listing-price">S/. {{producto?.sueldo}} <span class="small">/Sueldo</span></div>
											</div>
										</div>
										<div class="label-color">
											<h3 class="no-margin text-uppercase" >{{usuario?.nombre}}</h3>
										</div>
									</div>
									<ng-container *ngIf="!mostrarIMG">
									<div class="carousel-item active carousel-inner">
										<img src="assets/images/slider/slider-01.jpg" class="d-block w-100" alt="Producto">
									</div>
									<div class="carousel-item carousel-inner">
										<img src="assets/images/slider/slider-02.jpg" class="d-block w-100" alt="Producto">
									</div>
									<div class="carousel-item carousel-inner">
										<img src="assets/images/slider/slider-03.jpg" class="d-block w-100" alt="Producto">
									</div>
									<div class="carousel-item carousel-inner">
										<img src="assets/images/slider/slider-04.jpg" class="d-block w-100" alt="Producto">
									</div>
									</ng-container>
									
									<ng-container *ngIf="mostrarIMG">
										<div class="carousel-item active carousel-inner">
											<img src="{{producto?.imagenprincipal}}" class="d-block w-100" alt="Producto">
										</div>
										<div class="carousel-item carousel-inner" *ngFor="let item of imagenes">
											<img src="{{item.nombre}}" class="d-block w-100" alt="Producto" >
										</div>
									</ng-container>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>

							<div class="row" style="padding: 30px 0;">
								
								<div class="col-md-12" style="text-align: justify;">
									<h2 class="edufair-main-title">Descripción</h2>
									{{producto?.descripcion}}
								</div>
							</div>

							<h2 *ngIf="tipoProducto==='1' || tipoProducto==='2'" class="edufair-main-title">Detalles del Requerimiento</h2>
							<h2 *ngIf="tipoProducto==='3'" class="edufair-main-title">Detalles de la Liquidación</h2>
							<h2 *ngIf="tipoProducto==='4'" class="edufair-main-title">Detalles Recursos Humanos</h2>
							<ul class="list-checkbox">
								<!--<li><i class="fas fa-angle-right datos_col2"></i> <b>Unidad:</b> Unidad(s)</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Cantidad:</b> 200</li>-->
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Forma de Pago:</b> {{formaPago?.nombre}}</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Tipo de Moneda:</b> {{tipoMoneda?.nombre}}</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Tiempo de Entrega:</b> {{tiempoEntrega?.nombre}}</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Expira:</b> {{producto?.fecha_final}}</li>
								<!--<li><i class="fas fa-angle-right datos_col2"></i> <b>Garantia (meses):</b> 5</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Soporte Técnico (meses):</b> 5</li>-->
								<!--<li><i class="fas fa-angle-right datos_col2"></i> <b>Incluye I.G.V.:</b> Si</li>
								<li><i class="fas fa-angle-right datos_col2"></i> <b>Envio:</b> Si</li>-->
							</ul>

							<h2 class="edufair-main-title">Archivos Adjuntos</h2>
							<div class="row" style="margin-bottom: 22px;">
								<div class="col-md-6">
									<a (click)="descargarImagen(producto)" target="_self" type="button" class="edufair-component-button button-large btn-block text-white" >
										<i class="fas fa-images" style="font-size: 24px;"></i><br>
										Descargar Imagen
									</a>
								</div>
								<div class="col-md-6">
									<a (click)="descargarDocumento(producto)"  type="button"  class="edufair-component-button button-large btn-block text-white">
										<i class="fas fa-file-invoice" style="font-size: 24px;"></i><br>
										Descargar Documento
									</a>
								</div>
							</div>
						<ng-container *ngIf="uidUsuario!=producto?.usuario && producto?.estado===1">
							<ng-container *ngIf="isOfertaste && tipoProducto==='1' || isOfertaste && tipoProducto==='2' || isOfertaste && tipoProducto==='3' || isOfertaste && tipoProducto==='4'">
								<h2 class="edufair-main-title">Ofertar</h2>
								<div class="edufair-subscription-form-1x" style="background: #f5f5f5;padding: 30px 10px;border-radius: 6px;">
									<p style="text-align: center;">
										<i class="fas fa-clipboard-check fa-5x" style="color: #0B9A96;"></i>
									</p>
									<p style="text-align: center;margin-bottom: 1em;">
										<b *ngIf="tipoProducto==='1' || tipoProducto==='2'" style="color: #000;font-size: 28px;">Ya ofertaste este requerimiento</b>
										<b *ngIf="tipoProducto==='3'" style="color: #000;font-size: 28px;">Ya ofertaste esta Liquidación</b>
										<b *ngIf="tipoProducto==='4'" style="color: #000;font-size: 28px;">Ya postulaste a este Puesto de Trabajo</b>
									</p>
									<p *ngIf="tipoProducto==='1' || tipoProducto==='2' || tipoProducto==='3'" style="text-align: center;">
										Si quieres borrar tu oferta pulsa eliminar.
									</p>
									<p  *ngIf="tipoProducto==='4'" style="text-align: center;">
										Si quieres borrar tu Postulación pulsa eliminar.
									</p> 
									<p style="text-align: center;margin-bottom: 0em;">
										<a type="button" (click)="eliminarOferta(tipoProducto)" class="edufair-component-button button-medium text-white"><i class="fas fa-columns" style="top: 0;padding-left: 0;padding-right: 4px;"></i> Eliminar mi Oferta</a>
									</p>
								</div>
								<!-- <h2  *ngIf="tipoProducto==='1' || tipoProducto==='2'" class="edufair-main-title"><img src="assets/images/productos/check.png" class="img-fluid" style="width: 80px ;height: 80px">  Ya Ofertaste este requerimiento</h2> 
								<h2  *ngIf="tipoProducto==='3'" class="edufair-main-title"><img src="assets/images/productos/check.png" class="img-fluid" style="width: 80px ;height: 80px">  Ya Ofertaste esta liquidación</h2>
								<h2  *ngIf="tipoProducto==='4'" class="edufair-main-title"><img src="assets/images/productos/check.png" class="img-fluid" style="width: 80px ;height: 80px">  Ya postulaste a este puesto de trabajo </h2>-->
							</ng-container>

							<ng-container *ngIf="!isOfertaste">
							<h2  *ngIf="tipoProducto==='1' || tipoProducto==='2' || tipoProducto==='3'" class="edufair-main-title">Ofertar</h2>
							<h2 *ngIf="tipoProducto==='4'" class="edufair-main-title">Postular</h2>
							<div class="edufair-subscription-form-1x">							
								<form action="#" method="POST">
									<div class="form-group row" >
										<div class="col-md-6">
											<input name="" type="text" class="form-control" placeholder="Nombre" required #nombreUsuario>
										</div>
										<div class="col-md-6">
											<input name="" type="text" class="form-control" placeholder="Correo" required #emailUsuario>
										</div>
										<div class="col-md-6">
											<select [(ngModel)]="selectedDepartamento" name="dpto" type="text" class="form-control" placeholder="Ciudad" required>
												<option *ngFor="let item of all_departamento"[value]="item.key" ng-selected="selectedDepartamento == item.key">{{item.data.nombre}}</option>
											</select>
										</div>
										<div class="col-md-6">
											<select [(ngModel)]="selectedEntrega" name="entrega" type="text" class="form-control" placeholder="Entrega" required >
												<option *ngFor="let item of entrega" [value]="item.key" ng-selected="selectedEntrega == item.key">{{item.value.nombre}}</option>
											</select>
										</div>
										<div class="col-md-6" *ngIf="tipoProducto==='2' || tipoProducto==='1'">
											<input  name="" type="number" max="9" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==1) return false;" class="form-control" placeholder="Garantia (años)" required #garantiaAnio>
										</div>
										<div class="col-md-6" *ngIf="tipoProducto==='2' || tipoProducto==='1'">
											<input name="" type="number" max="99" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==2) return false;" class="form-control" placeholder="Soporte (meses)" required #soporteMeses>
										</div>
										<div class="col-md-6">
											<input name="" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" [placeholder]="tipoProducto==='4' ? 'Sueldo' : 'Presupuesto'" required #presupuestoUsuario>
										</div>
										<div class="col-md-6">
											<select [(ngModel)]="selectedMoneda" name="moneda" type="text" class="form-control" placeholder="Ciudad" required>
												<option *ngFor="let item of all_moneda" [value]="item.key" ng-selected="selectedMoneda == item.key">{{item.value.nombre}}</option>
											</select>
										</div>
									</div>
									<h5 *ngIf="tipoProducto==='2' || tipoProducto==='1' || tipoProducto==='4'">Imagenes y Documentos</h5>
									<div class="row" style="margin-bottom: 22px;">
										<ng-container *ngIf="tipoProducto==='2' || tipoProducto==='1' || tipoProducto==='4'">
											<div class="col-md-6">
												<div class="file-upload">
													<div class="MultiFile-wrap" id="MultiFile1">
														<input type="file" name="file" class="file-upload-input with-preview MultiFile-applied" multiple="" title="Agregue las Imagenes" maxlength="5" (change)="cargarImage($event)" accept="gif|jpg|png" id="MultiFile1" value="">
													</div>
													<span style="color: #ad4790;"><i class="fas fa-images"></i> Agregar Imagenes</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="file-upload">
													<div class="MultiFile-wrap" id="MultiFile1">
														<input type="file" name="files" class="file-upload-input with-preview" multiple="" title="Agregue Archivo" maxlength="1" (change)="cargarFile($event)" accept="application/pdf" id="MultiFile2" value="">
													</div>
													<span style="color: #ad4790;"><i class="fas fa-file-invoice"></i> Agregar Documentos</span>
												</div>
											</div>
										</ng-container>

											<div class="col-md-12" style="text-align: center;margin: 15px 0 25px 0;">
												<div class="custom-control custom-checkbox custom-control-inline" *ngIf="tipoProducto==='2' || tipoProducto==='1' || tipoProducto==='4'">
													<input type="checkbox" class="custom-control-input" id="customCheck1" (change)="validarBox($event,1)">
													<label class="custom-control-label" for="customCheck1">Acepto Negociación</label>
												</div>
												<div class="custom-control custom-checkbox custom-control-inline" *ngIf="tipoProducto==='2' || tipoProducto==='1'">
													<input type="checkbox" class="custom-control-input" id="customCheck2" (change)="validarBox($event,2)">
													<label class="custom-control-label" for="customCheck2">Precio incluye I.G.V.</label>
												</div>
												<div class="custom-control custom-checkbox custom-control-inline" *ngIf="tipoProducto==='2' || tipoProducto==='1'">
													<input type="checkbox" class="custom-control-input" id="customCheck3" (change)="validarBox($event,3)">
													<label class="custom-control-label" for="customCheck3">Incluye Envio</label>
												</div>
												<div class="custom-control custom-checkbox custom-control-inline" style="margin: 0;padding: 0;">
													<a href="#" class="edufair-component-button button-medium btn-block" data-toggle="modal" data-target="#enviar_mensaje"><i class="fas fa-comment" style="padding: 0;top: 0;right: 3px;"></i> Enviar Mensaje</a>
												</div>
											</div>
										
										<div class="col-md-12" style="text-align: center;">
											<a type="button" (click)="ofertar(tipoProducto)" class="edufair-component-button button-medium btn-block active text-white">Ofertar</a>
										</div>
									</div>
								</form>	
							</div>	
							
							</ng-container>
						</ng-container>
						<ng-container *ngIf="uidUsuario===producto?.usuario && producto?.estado===1">
							<h2 *ngIf="tipoProducto==='1' || tipoProducto==='2'" class="edufair-main-title">Mi Requerimiento</h2>
							<h2 *ngIf="tipoProducto==='3'" class="edufair-main-title">Mi Liquidación</h2>
							<h2 *ngIf="tipoProducto==='4'" class="edufair-main-title">Mi Puesto de Trabajo</h2>
								<div class="edufair-subscription-form-1x" style="background: #f5f5f5;padding: 30px 10px;border-radius: 6px;">
									<p style="text-align: center;">
										<i class="fas fa-clipboard-check fa-5x" style="color: #0B9A96;"></i>
									</p>
									<p style="text-align: center;margin-bottom: 1em;">
										<b *ngIf="tipoProducto==='1' || tipoProducto==='2'" style="color: #000;font-size: 28px;">Tu Requerimiento tiene ({{producto?.cant_ofertas}}) ofertas</b>
										<b *ngIf="tipoProducto==='3'" style="color: #000;font-size: 28px;">Tu Liquidación tiene ({{producto?.cant_ofertas}}) ofertas</b>
										<b *ngIf="tipoProducto==='4'" style="color: #000;font-size: 28px;">Tu Puesto de Trabajo tiene ({{producto?.cant_ofertas}}) postulantes</b>
									</p>
									<p *ngIf="tipoProducto==='1' || tipoProducto==='2' || tipoProducto==='3'" style="text-align: center;">
										Si quieres ver, borrar o cancelar tu requerimiento pulsa Panel de Control.
									</p>
									<p  *ngIf="tipoProducto==='4'" style="text-align: center;">
										Si quieres ver,  borrar o cancelar tu Puesto de Trabajo pulsa Panel de Control.
									</p> 
									<p style="text-align: center;margin-bottom: 0em;">
										<a type="button" routerLink="/panel" routerLinkActive="active" class="edufair-component-button button-medium text-white"><i class="fas fa-columns" style="top: 0;padding-left: 0;padding-right: 4px;"></i> Panel de Control</a>
									</p>
								</div>
						</ng-container>
							
						<ng-container *ngIf="uidUsuario===producto?.usuario && producto?.estado!=1 || uidUsuario!=producto?.usuario && producto?.estado!=1">
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===2 || tipoProducto==='2' && producto?.estado===2" class="edufair-main-title">Requerimiento Atendido</h2>
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===3 || tipoProducto==='2' && producto?.estado===3" class="edufair-main-title">Requerimiento Culminado</h2>
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===4 || tipoProducto==='2' && producto?.estado===4" class="edufair-main-title">Requerimiento Sin Ofertas</h2>
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===5 || tipoProducto==='2' && producto?.estado===5" class="edufair-main-title">Requerimiento Expirado</h2>
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===6 || tipoProducto==='2' && producto?.estado===6" class="edufair-main-title">Requerimiento Cancelado</h2>
							<h2 *ngIf="tipoProducto==='1' && producto?.estado===7 || tipoProducto==='2' && producto?.estado===7" class="edufair-main-title">Requerimiento Cancelado</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===2" class="edufair-main-title">Liquidación Atendido</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===3" class="edufair-main-title">Liquidación Culminado</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===4" class="edufair-main-title">Liquidación Sin Ofertas</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===5" class="edufair-main-title">Liquidación Expirado</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===6" class="edufair-main-title">Liquidación Cancelado</h2>
							<h2 *ngIf="tipoProducto==='3' && producto?.estado===7" class="edufair-main-title">Liquidación Cancelado</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===2" class="edufair-main-title">Puesto de Trabajo Atendido</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===3" class="edufair-main-title">Puesto de Trabajo Culminado</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===4" class="edufair-main-title">Puesto de Trabajo Sin Ofertas</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===5" class="edufair-main-title">Puesto de Trabajo Expirado</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===6" class="edufair-main-title">Puesto de Trabajo Cancelado</h2>
							<h2 *ngIf="tipoProducto==='4' && producto?.estado===7" class="edufair-main-title">Puesto de Trabajo Cancelado</h2>
								<div class="edufair-subscription-form-1x" style="background: #f5f5f5;padding: 30px 10px;border-radius: 6px;">
									<p style="text-align: center;">
										<i class="fas fa-calendar-times fa-5x" style="color: #0B9A96;"></i>
									</p>
									<p style="text-align: center;margin-bottom: 1em;">
										<b *ngIf="tipoProducto==='1' || tipoProducto==='2'" style="color: #000;font-size: 28px;">Este Requerimiento tuvo ({{producto?.cant_ofertas}}) ofertas</b>
										<b *ngIf="tipoProducto==='3'" style="color: #000;font-size: 28px;">Esta Liquidación tuvo ({{producto?.cant_ofertas}}) ofertas</b>
										<b *ngIf="tipoProducto==='4'" style="color: #000;font-size: 28px;">Este Puesto de Trabajo tuvo ({{producto?.cant_ofertas}}) postulantes</b>
									</p>

									<p style="text-align: center;margin-bottom: 0em;">
										<a type="button" routerLink="/" routerLinkActive="active" class="edufair-component-button button-medium text-white"><i class="fas fa-home" style="top: 0;padding-left: 0;padding-right: 4px;"></i> Pagina Principal</a>   
										<!--<a type="button" (click)="eliminarOferta(tipoProducto)" class="edufair-component-button button-medium text-white"><i class="fas fa-columns" style="top: 0;padding-left: 0;padding-right: 4px;"></i> Panel de Control</a>-->
									</p>
									
								</div>
						</ng-container>


						</div>
						<div class="col-md-4 sticky-sidebar">
							<div class="latest-post-right-sidebar">
								<h3>Datos</h3>
								<div class="single-post-category">						
									<ul>
										<li>
											<a style="align-items: center;display: flex;">
												<i class="fas fa-angle-right datos_col2"></i> Calificación:
												<div style="line-height: 1;font-size: 24px;width: 100%;text-align: right;">
													<star-rating value="0" totalstars="5" checkedcolor="#39b54a" uncheckedcolor="#bbbbbb" readonly="false" #caliClienteBien2></star-rating>
													<star-rating value="0" totalstars="5" checkedcolor="#ec1c24" uncheckedcolor="#bbbbbb" readonly="false" #caliClienteMal2></star-rating>
												</div>
												<!-- <span class="detalle_col2">
													<star-rating value="0" totalstars="5" checkedcolor="green" uncheckedcolor="black" size="24px" readonly="false"  #caliClienteBien2></star-rating>
													<star-rating value="0" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"  #caliClienteMal2></star-rating>
												</span> -->
											</a>
										</li>
										<li *ngIf="tipoUsuario===0"><a><i class="fas fa-angle-right datos_col2"></i> Empresa: <span class="detalle_col2">{{usuario?.nombre}}</span></a> </li>
										<li *ngIf="tipoUsuario===1"><a><i class="fas fa-angle-right datos_col2"></i> Persona: <span class="detalle_col2">{{usuario?.nombre}}</span></a> </li>																																												
										<li><a><i class="fas fa-angle-right datos_col2"></i> Creado: <span class="detalle_col2">{{producto?.fecha_publicacion}}</span></a> </li>																																											
										<li><a><i class="fas fa-angle-right datos_col2"></i> Ubicación: <span class="detalle_col2">{{departamento?.nombre}}</span></a> </li>																																											
										<li *ngIf="tipo?.nombre!=''"><a><i class="fas fa-angle-right datos_col2"></i> Tipo: <span class="detalle_col2">{{tipo?.nombre}}</span></a> </li>
										<li><a><i class="fas fa-angle-right datos_col2"></i> Rubro: <span class="detalle_col2"	>{{rubro?.nombre}}</span></a> </li>																																											
									</ul>
								</div>
							</div>

							<div class="latest-post-right-sidebar">
								<h3>Tags</h3>

								<div class="blog-share-tag">
									<div class="blog-description-tag">						
										<ul>																	
											<li class="tag_detalle"><a href="#"> Arequipa</a> </li>																																											
											<li class="tag_detalle"><a href="#"> Unidad</a> </li>																																											
											<li class="tag_detalle"><a href="#"> Bienes</a> </li>																																											
											<li class="tag_detalle"><a href="#"> Soluciones Online</a> </li>																																											
											<li class="tag_detalle"><a href="#"> Queso</a> </li>																																											
										</ul>
									</div>									
								</div>
							</div>
			
							<div class="latest-post-right-sidebar">
								<h2>Publicidad</h2>
								<img src="assets/images/app.jpg" class="img-fluid" style="margin-bottom: 15px;">
								<img src="assets/images/tcompra-suscripcion.jpg" class="img-fluid" style="margin-bottom: 15px;">
							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="margin-bottom-large"></div>
		</div>


<!-- Modal Enviar Mensaje -->
<div class="modal fade" id="enviar_mensaje" tabindex="-1" role="dialog" aria-hidden="true" style="padding: 0px 20px;">
	<div class="modal-dialog modal-sm" role="document" id="persona" name="persona">
		<div class="modal-content" style="background: transparent;">

			<div class="modal-body">
				<div class="edufair-subscription-1x" style="padding-bottom: 20px;background: #FAFAFA;border-radius: 6px;">
					<h4 style="padding: 35px 30px 20px 30px;margin: 0;">
						<b style="font-size: 26px;">Comunicate</b><br>
						<b style="font-size: 18px;font-weight: 400;">Facil y Rapido</b>
					</h4>
					
					<div class="edufair-subscription-form-1x" style="padding: 10px 15px;">

						<div class="col-md-12">
							<label for="exampleInputEmail1" style="margin-bottom: 0rem;margin-top: .5rem;">Escriba su Mensaje</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="col-md-12">
							<button class="edufair-btn-larg btn-block boton_login" id="btnPersona" type="button">Enviar</button>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>